<h2>More information about {{model.owner}}'s {{model.type}}:</h2>

{{update-rental rental=model update="update"}}

{{rental-detail rental=model destroyRental="destroyRental" destroyReviewPP='destroyReview'}}

{{new-review saveReview="saveReview" rental=model}}

<!-- {{#if model.reviews}}
  <h2>We have reviews</h2>
{{else}}
  <h2>Reviews Null</h2>
{{/if}} -->
